
.about-header{
 
    background-image: url("../../images/about.jpg");
    text-align: center;
    color: white;
    height: 300px;
    background-position: top; 
    background-size: cover;
    
}
.about-header-content{
    background-color: rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 100%;
    padding-top: 100px;
}
.about-mid-page{
    background-color: #e8f4fc;
}
.secound-img{
 height: 80%;
 width: 60%;
}


/* -------------------SLIDER-------------------------- */

.slider-div{
    background-color: #1B1E2C;
    color: white;

}

.slider{
    background-color: white;
    height: 100%;
    width: 100%;
  
}

.slider-img-div{
    height: 200px;
  
 

}
.slider-img{
 width: 100%;
 filter: drop-shadow(20px 0px 20px gray);
 height: 90%;
 border: 1px solid green;
 

}
.slider-caption{
  
}


/* --------------------------------------------- */
.signup-put{
    background-color:#1B1E2C ;
    border: 0px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    padding: 20px 30px;
 
}
.signup-put:hover{ 
    background-color:#2f3550 ;
}

.fourth-div{
    text-align: center;
}


@media only screen and (max-width: 1200px) { 
    .about-h{
        font-size: 30px;
    }
    
 }
 @media only screen and (max-width: 1000px) { 
    .slider-img{
        width: 50%;
   
       }
 }

@media only screen and (max-width: 780px) { 
   .about-h{
       font-size: 25px;
   }
   .secound-img{
  
    width: 80%;
   }
   
}
@media only screen and (max-width: 630px) { 
    .fourth-h{
        font-size: 20px;
    }


}
@media only screen and (max-width: 500px) { 
    .slider-img{
        width: 100%;
   
       }
 }

@media only screen and (max-width: 430px) { 
    .about-h{
        font-size: 20px;
    }
    .secound-img{
      
        width: 100%;
       }
       
 }
 @media only screen and (max-width: 365px) { 
    .fourth-h{
        font-size: 18px;
    }


}