.form-photo{
    object-fit: cover;
    object-position: top ;
    height: 300px;
}
.form-header {
    background-color: #1B1E2C;
    color: white;
    text-align: center;
    padding: 20px;
}

.form-body{
    background-color: #F5FAFD;
    color: black; 
    padding: 50px;
    font-weight: 600;

}
.form-body p{
  text-align: center;
}
.form-but{
    width: 100px;
    padding: 10px;
    margin-left: 50%;
    border: 1px black ;
    border-radius:30px;
    background-color: #CECECE;
}
.form-but:hover{  
    background-color: #e9e9e9;
}


@media only screen and (max-width: 500px) {  
    .form-header h1{
     font-size: 25px;
     margin-bottom: 20px;
    }
}