.home-container {
  overflow: hidden;
}

.home-bg-container {
  position: relative;
  height: 900px;
  background-image: url("../../images/home.jpg");
  background-size: cover;
  background-position: center;
}

.home-bg-content {
  position: absolute;
  top: 30%;
}

.home-header {
  width: 500px;
  font-weight: bolder;
}

.home-button {
  width: 150px;
  height: 60px;
  font-weight: bolder;
  font-size: 25px;
  background-color: #c3930a;
  border: 1px black;
  border-radius: 40px;
}
.home-button:hover {
  background-color: #ddb444;
}
.welc-container {
  text-align: center;
  margin-left: 20%;
  background-color: #eeeeee;
  padding: 16px 0 4px;
}
.line {
  width: 15%;
  color: rgb(8, 8, 8);
  margin-top: 3px;
  margin-left: 42%;
}
.home-par {
  margin-top: 20px;
  font-weight: bolder;
  color: gray;
  text-align: center;
}

.all-cards {
  height: 450px;
  margin: 12px;
  position: relative;
  border-radius: 6px;
}

.card-content {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
  overflow: hidden
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position:absolute;
  top: 35%;
  transition: all 0.3s ease-in-out;
}

.card-h {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
.card-p {
  opacity: 0;
  color: white;
  text-align: center;
  padding: 6px;
  transition: all 0.3s ease-in-out;
}
.card-line {
  opacity: 0;
  color: #ddb444;
  width: 70%;
  transition: all 0.3s ease-in-out;
}

.card-content:hover {
  background-color: #707070a9;
  border-radius: 6px;
}
.all-cards:hover .card-h {
  color: #ddb444;
}
.all-cards:hover .card-p {
  opacity: 1;
}
.all-cards:hover .card-line {
  opacity: 1;
}

.card-1 {
  background-image: url("../../images/card1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-2 {
  background-image: url("../../images/card2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-3 {
  background-image: url("../../images/card3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info {
  color: #692045;
  margin-top: 48px;
}
.info-header {
  font-weight: bold;
}
.icon-card {
  padding: 20px;
  margin: 40px;
  margin-top: 80px;
  margin-left: 60px;
  background-color: #f7f4f2;
  text-align: center;
  box-shadow: 2px 4px rgba(170, 165, 165, 0.247);
  border-radius: 50px 0px;
}

.icon-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  color: #692045;
  font-size: 100px;
}
.icons-info {
  font-size: 25px;
}

.about-us {
  text-align: center
}

.info-cards {
  background-color: #ebebeb;
  text-align: center;
  display: flex;
  border-radius: 6px;
}

.info-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.read-more {
  background-color: #b47a4d;
  padding: 15px;
  border: 1px black;
}
.read-more:hover {
  background-color: #d3905d;
}

.about-us{ 
  font-size: 25px;
}



@media only screen and (max-width: 1200px) {
  .about-us {
    font-size: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .welc-container{ 
    font-size: 20px;
    height: 130px;
}}

@media only screen and (max-width: 892px) {
  .about-us {
    font-size: 25px;
  }
}
@media only screen and (max-width: 792px) {
  .read-more {
    padding: 15px;
  }
}
@media only screen and (max-width: 700px) {
  .read-more {
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .home-header {
    width: 350px;
    font-size: 30px;
  }
  .home-bg-container {
    height: 700px;
  }
  .home-bg-content {
    top: 35%;
  }
}

@media only screen and (max-width: 576px) {
  .info-header {
    font-size: 25px;
    margin-left: 60px;
  }
  .about-us {
    font-size: 20px;
  }
}
