.home-photo {
  height: 900px;
  background-size: cover;
}
.home-header {
  position: relative;
  top: -400px;
  left: 10%;
  width: 500px;
  font-weight: bolder;
}
.home-button {
  position: relative;
  top: -370px;
  left: 20%;
  width: 150px;
  height: 60px;
  font-weight: bolder;
  font-size: 25px;
  background-color: #c3930a;
  border: 1px black;
  border-radius: 40px;
}
.home-button:hover {
  background-color: #ddb444;
}
.welc-container {
  text-align: center;
  margin-top: -164px;
  margin-left: 20%;
  background-color: #eeeeee;
  font-weight: bolder;
  height: 120px;
  font-size: 25px;
  padding: 25px;
}
.line {
  width: 15%;
  color: rgb(8, 8, 8);
  margin-top: 3px;
  margin-left: 42%;
}
.home-par {
  margin-top: 20px;
  font-weight: bolder;
  color: gray;
  text-align: center;
}

.cards {
  margin-top: 100px;
}
.all-cards h1 {
  color: white;
  font-weight: bolder;
}
.all-cards {
  margin: 30px;
  margin-left: 90px;
  height: 500px;
  width: 400px;
}
.card-content {
  width: 106.5%;
  height: 100%;
  position: relative;
  left: -12px;
}
.card-h {
  position: relative;
  top: 200px;
  left: 80px;
}
.card-p {
  display: none;
  color: white;
  text-align: center;
  position: relative;
  top: 200px;
}
.card-line {
  display: none;
  color: #ddb444;
  position: relative;
  top: 200px;
  left: 10%;
  width: 70%;
}

.card-content:hover {
  background-color: #707070a9;
}
.all-cards:hover .card-h {
  color: #ddb444;
}
.all-cards:hover .card-p {
  display: block;
}
.all-cards:hover .card-line {
  display: block;
}

.card-1 {
  background-image: url("../../images/card1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-2 {
  background-image: url("../../images/card2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-3 {
  background-image: url("../../images/card3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info {
  color: #692045;
  margin-top: 100px;
}
.info-header {
  font-weight: bolder;
}
.icon-card {
  padding: 20px;
  margin: 40px;
  margin-top: 80px;
  margin-left: 60px;
  background-color: #f7f4f2;
  text-align: center;
  box-shadow: 2px 4px rgba(170, 165, 165, 0.247);
  border-radius: 50px 0px;
}
.icons {
  color: #692045;
  font-size: 100px;
}
.icons-info {
  font-size: 25px;
}
.about-container {
  margin: 100px;
}
.about-us {
  font-weight: bolder;
  text-indent: 280px;
  margin-left: 40px;
}

.info-cards {
  background-color: #ebebeb;
  height: 750px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 150px;
  border-radius: 60px;
  text-align: center;
}
.card-info-content {
  margin-top: 10%;
  width: 50%;
  float: right;
}
.card-info-content h1 {
  font-size: 30px;
}
.card-info-content p {
  font-size: 25px;
}
.info-img {
  width: 50%;
  border-radius: 60px;
  height: 750px;
  float: left;
}
.read-more {
  background-color: #b47a4d;
  border-radius: 60px;
  padding: 15px;
  border: 1px black;
}
.read-more:hover {
  background-color: #d3905d;
}

@media only screen and (max-width: 1350px) {
  .card-info-content h1 {
    font-size: 30px;
  }
  .card-info-content p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .about-us {
    font-size: 30px;
    text-indent: 200px;
    margin-left: 80px;
  }
}

@media only screen and (max-width: 992px) {
  .welc-container{ 
    font-size: 20px;
    height: 130px;
}
.about-us{ 
    font-size: 25px;
}
.info-cards{
 
    height: 1000px;
}
.card-info-content{
   float: none;
   width: 100%;
   height: 400px;
   padding: 40px;
 
}
.card-info-content h1{
    font-size: 20px;
}
.card-info-content p{ 
    font-size: 15px;

}

.card-info-content2 p{
    font-size: 12px;
}
.info-img{
    float: none;
    width: 100%;
    height: 600px;
    

}
}

@media only screen and (max-width: 892px) {
  .about-us {
    font-size: 25px;
  }
}
@media only screen and (max-width: 792px) {
  .about-us {
    font-size: 20px;
    text-indent: 150px;
    margin-left: 70px;
  }
  .read-more {
    padding: 15px;
  }
}
@media only screen and (max-width: 700px) {
  .read-more {
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .home-header {
    position: relative;
    top: -450px;
    width: 350px;
    font-size: 30px;
  }
  .home-button {
    position: relative;
    top: -430px;
    left: 15%;
  }
  .home-photo {
    height: 700px;
  }
}

@media only screen and (max-width: 576px) {
  .info-header {
    font-size: 30px;
    margin-left: 60px;
  }
  .all-cards {
    margin-left: 50px;
  }
  .about-us {
    font-size: 20px;
    text-indent: 150px;
    margin-left: 20px;
  }
}
