.dashbord-container{
  display: flex;
}
.dashbord-navbar {
  background-color: white;
    width: 100px;
    height: 10vh;
    display: flex;
    justify-content: center;
   
  }

  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .dashbord-nav-menu {
    background-color: white;
    width: 230px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 850ms;
  }
  
  .dashbord-nav-menu.active {
    width: 100px;
    left: 0;
    transition: 350ms;
  }
  .dashbord-nav-menu-items {
    width: 100%;
  }
  .dashbord-navbar-toggle {
 
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
 
  .dashbord-Logo{
   
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 50px;
  }
  .dashbord-logo-photo{
    padding-top: 10px;
   
 
  }

  .dashbord-nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }

  
  .dashbord-nav-text a {
    text-decoration: none;
    color: #707070;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .dashbord-nav-text a:hover {
    color: black;
  }

  span {
    margin-left: 16px;
  }