.main-navbar{
  width: 100%;
  background-color: #e0e0e0 !important;
}

.nav {
  position: relative;
  background: black !important;
}

.nav::before {
  content: "";
  position: absolute;
  width: 40px;
  bottom: 0;
  left: -20px;
  height: 100%;
  background-color: black;
  transform: skew(-45deg);
  z-index: 1;
}

.dropdown-btn:hover {
  background-color: rgba(95, 93, 93, 0.23) !important;
}

.menu {
  background-color: black;
  color: white;
  padding-top: 0;
}

.logo-div{
  display: flex;
}

.logo{
  width: 100px;
  height: 100px;
}

.wrapper {
  display: flex;
  align-items: center;
  
}

.logo-text{
   font-size: 35px;
   font-weight: bold;
}


@media only screen and (max-width: 992px)  {
  .burger{
    position: relative;
     left: 80%;
    }
    .main-navbar{
      background-color: black !important;
    }
}



@media only screen and (max-width: 400px)  {
  .logo{
    width: 100px;
    height: 100px;
   
  }
  .logo-text{
     font-size: 25px;
    
  }
}

